h1 {text-align: center;background: floralwhite; color: darkgrey; font-size: 50px;}
h2 {text-align: right; color: indianred; background: darkred;}
.main-h1 {font-size: 21px;
	border: 3px solid mintcream;}
h6 { padding: 10px; }
a {font-size: 25px; background: darkred; color: greenyellow; }
.second-h1{font-size: 18px;}
.box{width: 250px; height: 250px;}
.green{background-color: darkgreen;
padding: 10px; margin: 20px 0px; }
